{% extends "account/email/base.html" %}

{% block subject %}
Recuperar contraseña
{% endblock %}

{% block subtitle %}
Hola {{user['fullname']}},
{% endblock %}

{% block body %}
<p>
Recibimos una solicitud para recuperar su {{ config.BRAND }} contraseña.
</p>
<p>
Si no lo solicitó, ignore este correo electrónico.
</p>
<p>
Nuestros registros muestran que usa su {{ account_name }} cuenta para iniciar sesión.
Utilice la misma cuenta para iniciar sesión nuevamente. Si olvidó la contraseña de su {{ account_name }}
cuenta, por favor contáctese {{ account_name }}.
</p>
<p>
Saludos,
</p>
<p>
El equipo de {{ config.BRAND }}
</p>
{% endblock %}
