{% extends "account/email/base.html" %}

{% block subject %}
Recuperación de contraseña
{% endblock %}

{% block subtitle %}
Hola {{user['fullname']}},
{% endblock %}

{% block body %}
<p>
Recibimos una solicitud para restablecer su {{ config.BRAND }} contraseña.
</p>
<p>
<a href="{{ recovery_url }}">Haga clic aquí para restablecer la contraseña.</a>
</p>
<p>
Si no hizo esta solicitud, ignore este correo electrónico.
</p>
<p>
Saludos,
</p>
<p>
El equipo de {{ config.BRAND }}
</p>
{% endblock %}
