<!-- tipo###5### -->

<!-- config -->
<script type="text/javascript" charset="utf-8">
  camposcomunesConfig = "si";
  dataConfig = 
  [
    {
      'id':'lugardenacimiento', 
      'titulo':'Lugar de nacimiento', 
      'titulocaja':'Titulo caja',
      'tipo': 'selectsimpleauto', 
      'codigoautocompletado': 'geografico',
      'datononormalizado': 'no',
    },
    {
      'id':'provincia', 
      'titulo':'Provincia', 
      'titulocaja':'Titulo caja',
      'tipo': 'selectsimpleauto', 
      'codigoautocompletado': 'geografico',
      'datononormalizado': 'no',
    },
    {
      'id':'comunidadautonoma', 
      'titulo':'Comunidad Autónoma', 
      'titulocaja':'Titulo caja',
      'tipo': 'selectsimpleauto', 
      'codigoautocompletado': 'geografico',
      'datononormalizado': 'no',
    },
    
  ];
</script>
<!-- config -->


<!-- TUTORIAL -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          Enriquecimiento colaborativo: <b>Autores fallecidos en 1936 o 1937</b>
        </h4>
      </div>
      <div class="modal-body contenedortuto">
        <div id="0" class="steptuto">
          <div class="row">
            <div class="col-md-12">
              <h3 class="margin-top-xs margin-bottom-sm"> <strong>Introducción</strong>
              </h3>
              <p>
                Gracias por colaborar y aportar tu conocimiento a este proyecto de enriquecimiento cultural para la Biblioteca Nacional de España. El proyecto en el que estás a punto de participar se trata de un conjunto de autores fallecidos entre 1936 y 1937.
              </p>

              <p>
                Necesitamos tu colaboración para completar la información que tenemos de estos autores y así incorporarla a la base de datos de información del catálogo de la Biblioteca Nacional de España.
              </p>

              <p>
                Antes de comenzar tienes que saber que puedes colaborar con la Biblioteca Nacional de España de forma anónima o identificándote mediante un usuario registrado. Dicho registro es rápido y sencillo mediante las principales redes sociales. Si te identificas en la plataforma quedarán registradas las estadísticas de colaboración de tu usuario y podrás entrar en los rankings de los mejores colaboradores de la plataforma. Identificarte y/o registrarte es muy sencillo, tan solo tendrás que pulsar el enlace situado en la parte superior de la pantalla “Iniciar sesión” y seguir los sencillos pasos que te indicará.
              </p>

              <div style="width:100%">
                <img src="/uploads/proyecto5/tutorial/iniciosesion.jpg" style="margin: 0 auto;display: block;" class="img-responsive"></div>

              <br>

              <p>
                Pulsa el botón “Siguiente” para continuar con el tutorial, si ya lo has leído anteriormente, puedes cerrarlo directamente. Y si más adelante tienes alguna duda, podrás volver a abrirlo a través del botón “Tutorial” disponible en todas las tareas.
              </p>
            </div>
          </div>
        </div>
        <div id="1" class="steptuto">
          <div class="row">
            <div class="col-md-12" id="tuto">
              <h3 class="margin-top-xs margin-bottom-sm"> <strong>Zonas de trabajo</strong>
              </h3>

              <p>
                El sistema de colaboración en este proyecto consiste en aportar de forma textual la información que se solicita mediante un sencillo formulario. El objetivo de cada tarea añadir el lugar de nacimiento de cada autor. No te preocupes si no completas todo el formulario, cualquier aportación y colaboración es bienvenida y agradecida para nosotros.
              </p>

              <p>
               La pantalla de tareas se divide 3 zonas principales: Información del autor, Formulario y Colaboración.
              </p>

              <div style="width:100%">
                <img src="/uploads/proyecto5/tutorial/pantalla_1.jpg" style="margin: 0 auto;display: block;" class="img-responsive"></div>

              <br>

              <p>
                Pulsa “Siguiente” para obtener más información sobre como interactuar con cada una de las zonas.
              </p>
            </div>

          </div>
        </div>

        <div id="2" class="steptuto">
          <div class="row">
            <div class="col-md-12">

              <h3 class="margin-top-xs margin-bottom-sm">
                <strong>Información del autor</strong>
              </h3>

              <p>
               En la zona de “Información del autor” puedes visualizar información acerca del autor para poderlo identificar fácilmente. Esta información incluye el nombre del autor, una pequeña descripción y enlaces a fuentes de datos con información adicional. 
              </p>

              

              <div style="width:100%">
                <img src="/uploads/proyecto5/tutorial/pantalla_2.jpg" style="margin: 0 auto;display: block;" class="img-responsive"></div>

              <br>
              <p>
                Pulsa “Siguiente” para conocer el funcionamiento de la zona de Formulario.
              </p>
            </div>
          </div>
        </div>

        <div id="3" class="steptuto">
          <div class="row">
            <div class="col-md-12">

              <h3 class="margin-top-xs margin-bottom-sm">
                <strong>Zona de formulario</strong>
              </h3>
              <p>
                La zona de formulario consiste en rellenar la información del lugar de nacimiento del autor, identificando la ciudad natal, provincia y comunidad autónoma. 
              </p>
              <p>
                Puedes rellenar la siguiente información usando los controles de selección.  Para ello debes pulsar sobre cada uno de los controles de selección y empezar a escribir el resultado de la pregunta. Estos controles te mostraran sugerencias de autocompletado usando los datos de la <b>Biblioteca Nacional de España</b>
                .  Cuando encuentres el resultado correcto, pulsa sobre el para selecionarlo.
              </p>
              <p>
                En caso de que no encuentres respuesta para alguna pregunta en el documento, puedes dejarlo vacío.
              </p>

              <br>

              <div style="width:100%">
                <img src="/uploads/proyecto5/tutorial/pantalla_3.jpg" style="margin: 0 auto;display: block;" class="img-responsive"></div>
              <br>

              <p>
                Pulsa el botón “Siguiente” para conocer cómo puedes registrar tu colaboración.
              </p>
            </div>
          </div>
        </div>

        <div id="4" class="steptuto">
          <div class="row">
            <div class="col-md-12">

              <h3 class="margin-top-xs margin-bottom-sm">
                <strong>Zona de colaboración</strong>
              </h3>

              <p>
                Esta zona es la que utilizarás para enviarnos la información que hayas completado, nosotros la guardaremos y validaremos junto con el resto de colaboraciones que otras personas hayan realizado.
              </p>

              <p>Los botones que encontrarás en esta zona son:</p>
              <ul>
                <li>
                  <b>Guardar:</b>
                  Si estás seguro de la información añadida, este es tu botón. Guardaremos la información que nos envías y te mostraremos otro autor nuevo para ver si eres capaz de identificarlo y añadir su información.
                </li>

                <li>
                  <b>Omitir:</b>
                  Si no estás o no conoces a este autor, no te preocupes, pulsando este botón, te mostraremos uno nuevo.
                </li>

                <li>
                  <b>Tutorial:</b>
                  Mediante este botón podrás acceder nuevamente a este tutorial por si tuvieras alguna duda de funcionamiento de las tareas.
                </li>

                <li>
                  <b>Información adicional:</b>
                  En este cuadro puedes añadir información adicional sobre el autor.
                </li>

                <li>
                  <b>Enlaces a fuentes de datos:</b>
                  Añade tantos enlaces como fuentes de datos uses para identificar el autor.
                </li>

                <li>
                  <b>Añadir comentario:</b>
                  Mediante este botón podrás añadir un comentario adicional a tu contribución, el cual, solo sera visible por el moderador de la tarea.
                </li>
              </ul>
              <br>
              <div style="width:100%">
                <img src="/uploads/proyecto5/tutorial/pantalla_4.jpg" style="margin: 0 auto;display: block;" class="img-responsive"></div>
              <br>
              <p>
                ¡Ya conoces todo lo necesario para empezar el reto! Nuevamente te damos las gracias por querer colaborar en aportar tu granito de arena a la cultura. Pulsa el botón “Comenzar” y te mostraremos al primer autor.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer tab-buttons">
        <button id="prevBtn" type="button" class="btn btn-default prevBtn">Anterior</button>
        <button id="nextBtn" type="button" class="btn btn-default nextBtn">Siguiente</button>
      </div>
    </div>
  </div>
</div>
<!-- TUTORIAL -->



    <link rel="stylesheet" type="text/css" href="/static/css/proyectos/tipo5.css">
    <link rel="stylesheet" type="text/css" href="/static/annotorious-0.6.4/css/theme-dark/annotorious-dark.css">

    <div class="row" id="finalizado">
      <div class="col-sm-12">
        <h2>
          Ya ha contribuido en todas las tareas del proyecto, muchas gracias por su colaboración.
        </h2>
        <div class="row text-center">
          <div class="col-sm-12"></div>
        </div>
      </div>
    </div>




    <div class="container container-padded" id="contenedortarea">

      <div class="row">
        <div class="col-sm-12">
          <h2 class="pull-left">Enriquecimiento colaborativo</h2>
          <div class="pull-right margin-bottom-sm">
            <a id="tutobut" class="btn btn-default margin-top-xs" data-toggle="popover" data-title="Tutorial" data-html="false" data-trigger="hover" data-placement="top" data-content="Pulsa en este botón para volver a ver el tutorial.">tutorial</a>
          </div>
          <div class="row text-center">
            <div class="col-sm-12"></div>
          </div>
        </div>
      </div>

      <div class="row">
        
        <div class="col-lg-8 col-md-7  col-sm-12">
          
          <div class="col-sm-12" id="infodatoscol">
              <p class="introautor">Introduce los datos el lugar de nacimiento, provincia y comunidad autónoma del siguiente autor:</p>

              <div id="bloquedatosautor">
                
              </div>
          </div>


          <div class="padding-top-xs col-sm-12 col-sm-12">
            <p>
              Tu has completado:
              <span id="done"> <strong><mark></mark></strong> 
              </span>
              tareas de
              <span id="total"> <strong></strong>
              </span>
            </p>
          </div>
        </div>

        
        <div class="col-lg-4 col-md-5  col-sm-12" id="infotipo1">
          <div class="row">

            <div class="form-group col-md-12">
                <label class="control-label labelcamposdin">Completa la siguiente información</label>
                <div id="campos">
                    
                </div>

            </div>
          </div>



          <div class="row campocomun">
            <div class="col-md-12">
              <label class="control-label">Información adicional</label>
              <textarea class="form-control margin-top-xs margin-bottom-xs" placeholder="Información adicional" id="infoadi"></textarea>
            </div>
          </div>

          <div class="row campocomun">
            <div class="col-md-12">
              <label class="margentoplabel">Texto antes de la caja</label>
              <input class="form-control" type="text" id ="enlacesinteres" placeholder ="Enlaces a fuentes de datos" style="display: inline-block;width: 75%;">    
              <button class="btn btn-default margin-top-xs" id ="enlacesinteresbtn" type="button" style="margin-top: 0px" data-toggle="popover" data-title="Añadir enlace a fuente de datos" data-html="false" data-trigger="hover" data-placement="top" data-content="Añade enlaces a fuentes de datos.">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>

            </div>
          </div>

          <div class="row">
            <ul id="list"></ul>
          </div>

          <div class="row">
            <div class="col-sm-6 add-comentario-responsive campocomun">
              <a id="addcomentario" class="btn btn-success btn-block" data-toggle="popover" data-title="Añadir comentario" data-html="false" data-trigger="hover" data-placement="top" data-content="Pulsa en este botón para añadir un comentario adicional a tu contribución, el cual, solo sera visible por el moderador de la tarea.">añadir comentario</a>
            </div>
            <div class="col-sm-6">
              <a href="" id="omitirtarea" style="display: none;" class="btn btn-success btn-block"   data-toggle="popover" data-title="Omitir tarea" data-html="false" data-trigger="hover" data-placement="top" data-content="Pulsa en este botón para pasar a la siguiente tarea.">Omitir</a>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12 add-comentario-desktop">
              <textarea name="comentario" id="comentario" placeholder="Añade un comentario sobre esta tarea que solo sera visible por el moderador." rows="4" style="display:none" class="form-control margin-top-xs margin-bottom-xs"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12  col-sm-12">
              <input type="button" name="guardar" id="guardar" value="FINALIZAR TAREA" class="btn btn-default margin-top-xs btn-block"  data-toggle="popover" data-title="Guardar colaboración" data-html="false" data-trigger="hover" data-placement="top" data-content="Pulsa en este botón para que tu contribución sea enviada a la Biblioteca Nacional de España."></div>
          </div>
        </div>

      </div>
    </div>


<script src="/static/js/pybossa.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/i18n/es.js"></script>
<script src="/static/js/bootstrap-maxlength.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/proyectos/tipo5.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/proyectos/comun.js" type="text/javascript" charset="utf-8"></script>






<script>
    nombreshortproyect = '{{project.short_name}}';
    urlval = $('#body-content').attr("data-url-val");
    pybossa.run(nombreshortproyect);
</script>