<!-- tipo###2### -->

<!-- config -->
<script type="text/javascript" charset="utf-8">
  mapa="si";
  camposcomunesConfig = "si";
  dataConfig = 
  [
    {
      'id':'gbne', 
      'titulo':'Geográfico de datosbne', 
      'titulocaja':'Titulo caja',
      'tipo': 'selectsimpleauto', 
      'codigoautocompletado': 'geografico',
      'datononormalizado': 'no',
    },
    {
      'id':'mecd', 
      'titulo':'Geográfico del MECD ', 
      'titulocaja':'Titulo caja',
      'tipo': 'selectsimpleauto', 
      'codigoautocompletado': '/tesauros/geografico',
      'datononormalizado': 'si',
    },

  ];
</script>
<!-- config -->

<!-- TUTORIAL -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          Colección de 149 obras fotográficas de <b>Jean Laurent</b>
        </h4>
      </div>
      <div class="modal-body contenedortuto">
        <div id="0" class="steptuto">
          <div class="row">
            <div class="col-md-12">
              <h3 class="margin-top-xs margin-bottom-sm"> <strong>Introducción</strong>
              </h3>
              <p>
                En primer lugar, gracias por colaborar y aportar tu conocimiento a este proyecto de enriquecimiento cultural para la Biblioteca Nacional de España. El proyecto en el que estás a punto de participar se trata de un conjunto de fotografías datadas en torno a 1870 realizadas por el fotógrafo <b>Jean Laurent</b>
                en España. Estas fotografías muestran lugares característicos de distintas ciudades españolas.
              </p>

              <p>
                Necesitamos tu colaboración para identificar y situar en el mapa cada uno de los lugares que muestran las imágenes que estas a punto de visualizar y así aportar tu conocimiento a la cultura.
              </p>

              <p>
                Antes de comenzar tienes que saber que puedes colaborar con la
                <b>Biblioteca Nacional de España</b>
                de forma anónima o identificándote mediante un usuario registrado. Dicho registro es rápido y sencillo mediante las principales redes sociales. Si te identificas en la plataforma quedarán registradas las estadísticas de colaboración de tu usuario y podrás entrar en los rankings de los mejores colaboradores de la plataforma. Identificarte y/o registrarte es muy sencillo, tan solo tendrás que pulsar el enlace situado en la parte superior de la pantalla “Iniciar sesión” y seguir los sencillos pasos que te indicará.
              </p>

              <div style="width:100%">
                <img src="/uploads/proyecto2/tutorial/tutorial_1.jpg" style="margin: 0 auto;display: block;" class="img-responsive"></div>

              <br>

              <p>
                Pulsa el botón “Siguiente” para continuar con el tutorial, si ya lo has leído anteriormente, puedes cerrarlo directamente. Y si más adelante tienes alguna duda, podrás volver a abrirlo a través del botón “Tutorial” disponible en todas las tareas.
              </p>
            </div>
          </div>
        </div>
        <div id="1" class="steptuto">
          <div class="row">
            <div class="col-md-12" id="tuto">
              <h3 class="margin-top-xs margin-bottom-sm"> <strong>Zonas de trabajo</strong>
              </h3>

              <p>
                El sistema de colaboración en este proyecto consiste en la realización de una tarea concreta en cada una de las imágenes que te iremos mostrando. El objetivo de cada tarea es ubicar con la mayor exactitud posible el emplazamiento geográfico de la imagen que se muestra en un mapa.
              </p>

              <p>
                La pantalla de tareas se divide 3 zonas principales: Imagen, Mapa y Colaboración.
              </p>

              <div style="width:100%">
                <img src="/uploads/proyecto2/tutorial/tutorial_2.jpg" style="margin: 0 auto;display: block;" class="img-responsive"></div>

              <br>

              <p>
                Pulsa “Siguiente” para obtener más información sobre como interactuar con cada una de las zonas.
              </p>
            </div>

          </div>
        </div>

        <div id="2" class="steptuto">
          <div class="row">
            <div class="col-md-12">

              <h3 class="margin-top-xs margin-bottom-sm">
                <strong>Zona de imagen</strong>
              </h3>

              <p>
                En la zona de “Imagen” puedes visualizar en detalle la fotografía mostrada en la tarea presentada, mediante el uso de los botones
                <img src="/uploads/proyecto2/tutorial/boton_mas.jpg">
                y
                <img src="/uploads/proyecto2/tutorial/boton_menos.jpg">
                puedes ampliar o reducir la imagen que se muestra, de esta forma puedes ver todos los detalles de la misma.
              </p>

              <p>
                Utilizando el ratón y haciendo uso del “click” izquierdo puedes moverte por la imagen.
              </p>

              <div style="width:100%">
                <img src="/uploads/proyecto2/tutorial/tutorial_3.jpg" style="margin: 0 auto;display: block;" class="img-responsive"></div>

              <br>
              <p>
                Pulsa “Siguiente” para conocer el funcionamiento de la zona del Mapa.
              </p>
            </div>
          </div>
        </div>

        <div id="3" class="steptuto">
          <div class="row">
            <div class="col-md-12">

              <h3 class="margin-top-xs margin-bottom-sm">
                <strong>Zona de mapa</strong>
              </h3>
              <p>
                En esta zona puedes buscar la situación más exacta posible de la ubicación de la imagen mostrada. Para ello, tienes a tu disposición una serie de herramientas que te facilitarán la labor.
              </p>

              <p>
                Dispones de un cuadro de búsqueda donde escribir el nombre de la ciudad, calle, zona, barrio aproximado para que el mapa se ubique de forma automática en la dirección que hayas introducido.
              </p>

              <p>
                Con los controles de “Zoom”
                <img src="/uploads/proyecto2/tutorial/mapa_mas.jpg">
                y
                <img src="/uploads/proyecto2/tutorial/mapa_menos.jpg">
                puedes ampliar o reducir el mapa para así poder distinguir con más exactitud las calles de la zona donde vas a ubicar la foto de la imagen mostrada.
              </p>

              <p>
                Una vez hayas localizado la ubicación de la foto, haciendo “click” izquierdo con el ratón, podrás marcar la zona donde esta ubicada
                <img src="/uploads/proyecto2/tutorial/mapa_puntero.png">
                . No te preocupes si te equivocas o quieres rectificar, pulsando nuevamente “click” izquierdo con el ratón, seleccionarás otra ubicación.
              </p>

              <div style="width:100%">
                <img src="/uploads/proyecto2/tutorial/tutorial_4.jpg" style="margin: 0 auto;display: block;" class="img-responsive"></div>

              <br>
              <p>
                Cuando encuentres imágenes que representan zonas amplias de un lugar como pueden ser grandes edificios, calles, plazas, parques, vistas generales, etc. Puedes marcar y señalar en el mapa el punto centrado de la zona amplia. Por ejemplo, si apareciera una fotografía de la Biblioteca Nacional de España, el punto a señalar sería el centro donde se ubica la Biblioteca, tal y como se muestra en la siguiente imagen:
              </p>

              <div style="width:100%">
                <img src="/uploads/proyecto2/tutorial/mapa.png" style="margin: 0 auto;display: block;" class="img-responsive"></div>

              <br>

              <p>
                Pulsa el botón “Siguiente” para conocer cómo puedes registrar tu colaboración.
              </p>
            </div>
          </div>
        </div>

        <div id="4" class="steptuto">
          <div class="row">
            <div class="col-md-12">

              <h3 class="margin-top-xs margin-bottom-sm">
                <strong>Zona de colaboración</strong>
              </h3>

              <p>
                Esta zona es la que utilizarás para enviarnos la ubicación que hayas decidido en el mapa, nosotros la guardaremos y validaremos junto con el resto de colaboraciones que otras personas hayan realizado.
              </p>

              <p>Los botones que encontrarás en esta zona son:</p>

              <ul>
                <li>
                  <b>Guardar:</b>
                  Si estás seguro del punto marcado en el mapa, este es tu botón. Guardaremos la información que nos envías y te mostraremos otra foto nueva para ver si eres capaz de ubicarla en el mapa también.
                </li>

                <li>
                  <b>Omitir:</b>
                  Si no estás seguro de donde ubicar la fotografía mostrada, no te preocupes, pulsando este botón, te mostraremos una nueva fotografía que es posible que puedas ubicar más fácilmente.
                </li>

                <li>
                  <b>Tutorial:</b>
                  Mediante este botón podrás acceder nuevamente a este tutorial por si tuvieras alguna duda de funcionamiento de las tareas.
                </li>

                <li>
                  <b>Información adicional:</b>
                  En este cuadro puedes añadir información adicional sobre la ubicación de la imagen.
                </li>

                <li>
                  <b>Enlaces a fuentes de datos:</b>
                  Añade tantos enlaces como fuentes de datos uses para ubicar la imagen en el mapa.
                </li>

                <li>
                  <b>Añadir comentario:</b>
                  Mediante este botón podrás añadir un comentario adicional a tu contribución, el cual, solo sera visible por el moderador de la tarea.
                </li>
              </ul>
              <br>

              <div style="width:100%">
                <img src="/uploads/proyecto2/tutorial/tutorial_5.jpg" style="margin: 0 auto;display: block;" class="img-responsive"></div>

              <br>
              <p>
                ¡Ya conoces todo lo necesario para empezar el reto! Nuevamente te damos las gracias por querer colaborar en aportar tu granito de arena a la cultura. Pulsa el botón “Comenzar” y te verás la primera imagen para localizar en el mapa.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer tab-buttons">
        <button id="prevBtn" type="button" class="btn btn-default prevBtn">Anterior</button>
        <button id="nextBtn" type="button" class="btn btn-default nextBtn">Siguiente</button>
      </div>
    </div>
  </div>
</div>
<!-- TUTORIAL -->


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
<link rel="stylesheet" type="text/css" href="/static/leaflet-search/dist/leaflet-search.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/proyectos/tipo2.css">
<div class="row" id="finalizado">
  <div class="col-sm-12">
    <h2>
      Ya ha contribuido en todas las tareas del proyecto, muchas gracias por su colaboración.
    </h2>
    <div class="row text-center">
      <div class="col-sm-12"></div>
    </div>
  </div>
</div>

<div class="container container-padded" id="contenedortarea">

  <div class="row">

    <div class="col-sm-12">
      <h2 class="pull-left">
        Localiza en el mapa el lugar desde donde se ha tomado la imagen
      </h2>
      <div class="pull-right margin-bottom-sm">
        <a id="tutobut" class="btn btn-default margin-top-xs" data-toggle="popover" data-title="Tutorial" data-html="false" data-trigger="hover" data-placement="top" data-content="Pulsa en este botón para volver a ver el tutorial.">tutorial</a>
      </div>
      <div class="row text-center">
        <div class="col-sm-12"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-7  col-sm-12">
      <div class="col-sm-12" id="documentopdf">
        <img src="" id="imagenlugar" class="panzoom">
        <div id="botons_ampdow">
          <button type="button" class="mas"> <i class="fa fa-search-plus" aria-hidden="true"></i>
          </button>
          <br>
          <button type="button" class="menos"> <i class="fa fa-search-minus" aria-hidden="true"></i>
          </button>
          <br>
          <button type="button" class="rotate">
            <i class="fa fa-undo" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="padding-top-xs col-sm-12 col-sm-12">
        <p>
          Tu has completado:
          <span id="done">
            <strong><mark></mark></strong> 
          </span>
          tareas de
          <span id="total">
            <strong></strong>
          </span>
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-5  col-sm-12">
      <label class="control-label labelcamposdin">Completa la siguiente información</label>
      <div id="campos"></div>
      <div id="map"></div>
      <!--<input type="text" name="direccion" id="direccion" class="form-control margin-top-xs margin-bottom-xs">-->

      <div class="row campocomun">
        <div class="col-md-12">
          <textarea class="form-control margin-top-xs margin-bottom-xs" placeholder="Información adicional" id="infoadi"></textarea>
        </div>
      </div>

      <div class="row campocomun">
        <div class="col-md-12">
          <label class="margentoplabel">Texto antes de la caja</label>
          <input class="form-control" type="text" id ="enlacesinteres" placeholder ="Enlaces a fuentes de datos" style="display: inline-block;width: 75%;">
          <button class="btn btn-default margin-top-xs" id ="enlacesinteresbtn" type="button" style="margin-top: 0px" data-toggle="popover" data-title="Añadir enlace a fuente de datos" data-html="false" data-trigger="hover" data-placement="top" data-content="Añade enlaces a fuentes de datos.">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>

        </div>
      </div>

      <div class="row">
        <ul id="list"></ul>
      </div>

      <div class="row">
        <div class="col-sm-6 add-comentario-responsive campocomun">
          <a id="addcomentario" class="btn btn-success btn-block" data-toggle="popover" data-title="Añadir comentario" data-html="false" data-trigger="hover" data-placement="top" data-content="Pulsa en este botón para añadir un comentario adicional a tu contribución, el cual, solo sera visible por el moderador de la tarea.">añadir comentario</a>
        </div>
        <div class="col-sm-6">
          <a href="" id="omitirtarea" style="display: none;" class="btn btn-success btn-block"   data-toggle="popover" data-title="Omitir tarea" data-html="false" data-trigger="hover" data-placement="top" data-content="Pulsa en este botón para pasar a la siguiente tarea.">Omitir</a>
        </div>

      </div>
      <div class="row">
        <div class="col-md-12 add-comentario-desktop">
          <textarea name="comentario" id="comentario" placeholder="Añade un comentario sobre esta tarea que solo sera visible por el moderador." rows="4" style="display:none" class="form-control margin-top-xs margin-bottom-xs"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12  col-sm-12">
          <input type="button" name="guardar" id="guardar" value="FINALIZAR TAREA" class="btn btn-default margin-top-xs btn-block"  data-toggle="popover" data-title="Guardar colaboración" data-html="false" data-trigger="hover" data-placement="top" data-content="Pulsa en este botón para que tu contribución sea enviada a la Biblioteca Nacional de España."></div>
      </div>
    </div>

  </div>
</div>

<script src="/static/js/pybossa.js"></script>
<script src="/static/js/jquery.panzoom.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.fancybox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/i18n/es.js"></script>
<script src="/static/js/bootstrap-maxlength.js" type="text/javascript" charset="utf-8"></script>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin=""></script>
<script src="/static/leaflet-search/dist/leaflet-search.min.js"></script>
<script src="/static/js/proyectos/tipo2.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/proyectos/comun.js" type="text/javascript" charset="utf-8"></script>

<script>
    nombreshortproyect = '{{project.short_name}}';
    urlval = $('#body-content').attr("data-url-val");
    pybossa.run(nombreshortproyect);
</script>