<div class="splash" id="about-splash" style="background-image: url(/static/img/splash/about.jpg);">
    <div class="splash-overlay vcenter">
        <div class="container ie-vcenter">
            <h1>¿Cómo puedo contribuir?</h1>
        </div>
    </div>
</div>

<section class="mid-grey pattern-brushed box-shadow-grey-bottom">
    <div class="container container-padded">
        <div class="col-md-11">
            <h2>¿En qué consiste?</h2>
            <p>
            	Tras años de producción de datos en sus catálogos y de digitalización de sus colecciones, la Biblioteca Nacional de España dispone de una gran cantidad de contenidos digitales puestos a disposición de todos los ciudadanos.  
            </p>

            <p>Uno de nuestros principales objetivos es que estos contenidos, que forman parte de nuestra memoria cultural y social, sean utilizados y explotados gracias a las herramientas que permiten los nuevos ecosistemas digitales para la participación, la investigación, la educación… para así generar nuevo conocimiento e impulsar la creatividad, el desarrollo tecnológico, la presencia de nuestra memoria colectiva en la sociedad. En esta labor es fundamental la participación de todos. </p>

            <p>Esta estrategia se materializa en el proyecto <a class="enlacedestacado" href="http://www.bne.es/bnelab/" target="_blank">BNElab</a>, gracias al convenio con Red.es para el impulso de la reutilización de datos y contenidos digitales de la BNE.  La puesta en marcha de una plataforma para proyectos colaborativos o de crowdsourcing es una de las iniciativas enmarcadas en esta estrategia. </p>

            <p>La plataforma permitirá reunir voluntarios para la realización de tareas colaborativas a partir del fondo digitalizado de la BNE, con el objetivo de difundirlo y crear nueva información igualmente a disposición de todos. </p>
        </div>
    </div>
</section>

<section class="white">
    <div class="container container-padded">
        <div class="col-md-11 padding-bottom-sm">
            <h2>¿Cómo puedo contribuir?</h2>
            <p>
               Participar es muy sencillo, solo has de elegir en qué tarea o proyecto te apetece colaborar. Puedes, por ejemplo, transcribir textos a partir de imágenes digitales, ayudarnos a georreferenciar fotografías de nuestra colección, transcribir archivos sonoros o mejorar la descripción de nuestros catálogos.  
            </p>
            <p>
                Consulta el tutorial de cada proyecto para empezar.
            </p>
           
            <div class="text-center">
                <a href="{{url_for('project.index')}}" class="btn btn-default" data-toggle="popover" data-title="Comienza a contribuir" data-html="false" data-trigger="hover" data-placement="top" data-content="Pulsa en este botón para acceder a la página de proyectos colaborativos y empezar a colaborar con la Biblioteca Nacional de España." data-container="body">Comenzar</a>
            </div>
        </div>
    </div>
</section>

<section class="mid-grey pattern-brushed box-shadow-grey-bottom">
    <div class="container container-padded">
        <div class="col-md-11">
            <h2>¿Para qué sirve mi contribución?</h2>
            <p>
                Los resultados de las tareas que proponemos, una vez validadas mediante un proceso de específico para cada proyecto, se integrarán en nuestros catálogos (bibliográfico, de autoridades…) o se asociarán a los objetos digitales de la Biblioteca Digital Hispánica o la Hemeroteca Digital, para una búsqueda y recuperación de esta información enriquecida. 
            </p>

            <p>Entrarán a formar parte de nuestros conjuntos de datos, accesibles y libres para reutilización, como el resto de datos incluidos en los catálogos de la BNE. </p>

            <p>Y así tú también formarás parte, con tu contribución, del inmenso depósito de memoria colectiva que es la Biblioteca Nacional. </p>

        </div>
    </div>
</section>

<section class="white">
    <div class="container container-padded">
        <div class="col-md-11 padding-bottom-sm">
            <h2>¿Puedo sugerir proyectos?</h2>
            <p>
               ¡Por favor!  Estaremos encantados de recibir cualquier sugerencia para un posible proyecto de crowdsourcing. <a class="enlacedestacado" href="mailto:bnelab@bne.es">Contacta con nosotros</a>  y valoraremos la propuesta.
            </p>
        </div>
    </div>
</section>