{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="container container-main">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h4 class="text-center">Restablecer su contraseña</h4>
        <form method="post" role="form">
            <fieldset>
                {{ form.hidden_tag() }}
                {{ render_field(form.email_addr, placeholder="Ingrese su dirección de correo electrónico", class="form-control", type="email", required="required", autofocus="autofocus" ) }}
                <div class="text-center" role="group">
                    <a href="{{ url_for('account.signin') }}" class="btn btn-success margin-bottom-sm">Cancelar</a>
                    <input type="submit" value="Recuperar contraseña" class="btn btn-default margin-bottom-sm" />
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
